<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeCoverage" version="17.11.1" targetFramework="net481" />
  <package id="Microsoft.NET.Test.Sdk" version="17.11.1" targetFramework="net481" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net481" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net481" />
  <package id="NUnit.Analyzers" version="4.3.0" targetFramework="net481" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="4.6.0" targetFramework="net481" />
  <package id="Selenium.WebDriver.ChromeDriver" version="129.0.6668.7000" targetFramework="net481" />
</packages>